mixin testimonialsItem(text, name, job, src)
    .testimonials-item
        .testimonials-item__quotes-ico
            +useSvg('ico-quotes')
        quote.testimonials-item__quote=text
        .testimonials-item__avatar
            img.testimonials-item__img(srt=src alt='')
        h5.testimonials-item__author=name
        span.testimonials-item__job=job
