include ../../../../../../components/useSvg/useSvg
mixin aboutItem(id, title, description)
    .about-item
        .about-item__icon
            +useSvg(id)
        h4.about-item__title=title
        p.about-item__description=description
