mixin checkboxInput(id, text, isWhite, variant)
    .checkbox-input(class=!!variant && 'var-' + variant )
        input.checkbox-input__checkbox(type='checkbox' id=id class=isWhite && 'checkbox-input__checkbox--white')
        label.checkbox-input__label(for=id)=text
