mixin searchMain(text)
    form.search-input(action='' novalidate)
        .search-input__body
            button.search-input__btn(type='submit')
            input.search-input__input(type='text' placeholder='Search sound effects')
        p.search-input__footer=text

