.pagination {
  display: flex;
  column-gap: 1rem;



  .swiper-pagination-bullet {
    $size: .8rem;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: $bgPrimary;
    &-active {
      background: $bgGray;
    }
  }
}
