-
    const tabs = [
        {
            label: 'All',
            id: '',
        },
        {
            label: 'Jumpscare',
            id: '',
        },
        {
            label: 'Mellow',
            id: '',
        },
    ]
block content
