-
    const tabs = [
        {
            label: 'All',
            id: 'all',
        },
        {
            label: 'Jumpscare',
            id: 'jumpscare',
        },
        {
            label: 'Mellow',
            id: 'mellow',
        },
        {
            label: 'Happiness',
            id: 'happiness',
        },
        {
            label: 'Ambience',
            id: 'ambience',
        },
        {
            label: 'Zonk',
            id: 'zonk',
        },
    ]
block content
