-
    const tabs = [
        {
            label: 'All',
            id: '',
        },
        {
            label: 'Jumpscare',
            id: '',
        },
        {
            label: 'Mellow',
            id: '',
        },
        {
            label: 'Happiness',
            id: '',
        },
        {
            label: 'Ambience',
            id: '',
        },
        {
            label: 'Zonk',
            id: '',
        },
    ]
block content
