@import "components/index";

.sounds-tabs {
  display: flex;
  column-gap: 1.6rem;
  max-width: 100%;
  overflow: auto;
  padding-bottom: 1.3rem;
  &__item {
    flex-shrink: 0;
  }

  @include minMediaTablet {
    column-gap: 3.3rem;
  }
  @include minMediaDesktop {
    flex-wrap: wrap;
    row-gap: 1.6rem;
  }
}
