include ../../../../../../../../components/useSvg/useSvg
button.play-button.j-audio-play.j-button-click
    +useSvg('ico-play', 'play-button__play-icon')
    +useSvg('ico-pause','play-button__pause-icon')
