-
    const tariffCard = [
        {
            title: 'Basic',
            description: 'Download any royalty-free sound effects',
            cost: 'Free',
        },
        {
            title: 'Premium',
            description: 'Download premium sound effects and use them for any business purpose',
            cost: 'Start from $12/month',
            isWhite: true,
        },
    ]
block content
