extends constants
include components/tariffCard/tariffCard
block content
    section.tariff
        .tariff__container
            .tariff__header
                h2.tariff__title Download&nbspsound&nbsp;effects for your project
                h4.tariff__sub-title Find the right plan for you
            ul.tariff__cards
                each item in tariffCard
                    li.tariff__item
                        +tariffCard(item.title, item.description, item.cost)
            .tariff__footer
                span.tariff__info Join premium with 434,849 creators.
