extends constants
include components/tariffCard/tariffCard
block content
    .tariff
        .tariff__container
            h2.tariff__title Download sound effects for your project
            h4.tariff__sub-title Find the right plan for you
            ul.tariff__cards
                each item in tariffCard
                    li.tariff__item
                        +tariffCard(item.title, item.description, item.cost)
