.button-border {
  display: block;
  padding: 1.3rem 1.9rem;
  background-color: $bgWhite;
  color: $cBlue;
  font-family: $fPoppins;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 100%;
  border-radius: .8rem;
  transition: background-color .15s linear;
  border: 0.2rem solid $bWhite;
  @media (hover: hover) {
    &:hover {
      background-color: $bgHoverLightBlue;
    }
  }

  @include minMediaDesktop {
    &--big {
      padding: 1.7rem 2.6rem;
    }
  }

}
