-
    const aboutCards = [
        {
            id: 'ico-about-customer',
            // title: '1.203.322 Customer satisfied',
            title: '1.203.322 Customer satisfied ',
            description: 'We\'ve helped more than 1 million customers find best sound effects',
        },
        {
            id: 'ico-about-free',
            title: 'Royalty-free',
            description: 'Just download and use the sound for your videos without royalty',
        },
        {
            id: 'ico-about-proper-sounds',
            title: 'Provide proper sounds',
            description: 'We just provide sounds with the best quality  for customers',
        },
        {
            id: 'ico-about-count-sounds',
            title: '650.654 Sounds',
            description: 'More than 600 thousand high quality to download. Still counting',
        },
    ]
block content
