@import "component/index";

.about {
  padding: 5rem 0;

  &__container {
    padding: 0 2.7rem;
  }

  &__sup-title {
    font-family: $fPoppins;
    color: $cGold;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    margin-bottom: 1.7rem;
  }

  &__title {
    text-align: center;
    font-family: $fPoppins;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: $secondaryColor;
    margin-bottom: 4.7rem;
  }

  &__item:not(:last-child) {
    margin-bottom: 2.8rem;
  }

  @include minMediaTablet {
    padding: 4.3rem 0 5.9rem;
    &__title {
      font-size: 2.4rem;
      line-height: 160%;
      max-width: 46.6rem;
      margin: 0 auto 3.9rem;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 11rem;
      row-gap: 5.1rem;
    }
    &__container {
      padding: 0 8.3rem;
    }
    &__item {
      &:nth-child(1){
        order: 1;
      }
      &:nth-child(2){
        order: 3;
      }
      &:nth-child(3){
        order: 4;
      }
      &:nth-child(4){
        order: 2;
      }
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}
