mixin soundItem(src,genres,description)
    // при изменении информации в компоненте следует изменить ее и файле soundItemGeneration.ts
    .sound-item.j-audio
        audio.j-audio-track(src=src)
        .sound-item__btn-play
            include components/playButton/playButton
        .sound-item__info.sound-info
            .sound-info__main
                .sound-info__name Sound name
                .sound-info__time.j-audio-time 0:00
            p.sound-info__description=description
            .sound-info__genres-list
                each genre in genres
                    span.sound-info__genre=genre
        .sound-item__actions
            .sound-item__btn-like
                include components/likeButton/likeBitton
            button.sound-item__btn-download.j-download-file(type='button')
                +useSvg('ico-download')
            a.sound-item__btn-more(href='#')
                +useSvg('ico-more')
