@import "components/index";

.sound-item {
  display: flex;
  align-items: center;
  padding: .7rem .5rem;
  border-bottom: .1rem solid $bPureWhite;

  &__btn-more, &__btn-download {
    display: block;
    width: 3.4rem;
    height: 3.4rem;
  }

  &__btn-play {
    margin-right: 1.4rem;
  }

  &__btn-download {
    margin-right: 1.3rem;
  }

  &__info {
    margin-top: 0.2rem;
    flex-grow: 1;
  }


  &__btn-like {
    display: none;
  }

  &__actions {
    display: flex;
  }

  @include minMediaTablet {
    padding: .7rem 2.1rem 0;
    &__btn-play {
      margin-right: 2.9rem;
    }
    &__actions {
      flex-shrink: 0;
    }
    &__btn-more, &__btn-download, &__btn-like {
      width: 3.6rem;
      height: 3.6rem;
    }
    &__btn-download, &__btn-like {
      margin-right: 2rem;
    }
    &__btn-like {
      display: block;
    }
  }
  @include minMediaDesktop {
    padding: 1rem 0 0.9rem 2.1rem;
    &__btn-play {
      margin-right: 4.6rem;
    }
  }
}

.sound-info {
  &__name {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 138%;
    margin-bottom: 0.2rem;
    margin-top: -0.1rem;
  }

  &__time {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 172%;
    color: $cLightGreyBlue;
  }

  &__genres-list, &__description {
    display: none;
  }

  @include minMediaTablet {
    display: flex;
    align-items: center;
    &__main {
      flex-basis: 18rem;
      padding-right: 1.6rem;
      flex-shrink: 0;
    }
    &__genres-list {
      display: block;
      flex-grow: 0;
      flex-basis: 100%;
      padding-right: 1.6rem;
    }
    &__name {
      margin-bottom: 0.4rem;
    }
    &__genre {
      font-family: $fInter;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 138%;
      color: $cLightGreyBlue;
    }
  }

  @include minMediaDesktop {
    &__name, &__genre, &__description {
      font-size: 1.6rem;
      line-height: 138%;
    }
    &__main {
      flex-basis: 23.7rem;
    }
    &__description {
      flex-basis: 29.7rem;
      flex-shrink: 0;
      padding-right: 4.2rem;
      font-weight: 500;
      display: block;
    }
  }
}
