@import "variables";

@mixin fontFace ($family, $weight){
  @font-face {
    font-family: $family;
    src: url('/src/fonts/#{to-lower-case($family)}/#{to-lower-case($family)}#{$weight}.woff2') format('woff2'),
    url('/src/fonts/#{to-lower-case($family)}/#{to-lower-case($family)}#{$weight}.woff') format('woff');
    font-weight: $weight;
    font-style: normal;
  }
}

@mixin minMediaMobile {
  @media (min-width: $mobileBreakpoint + px) {
    @content
  }
};

@mixin minMediaTablet {
  @media (min-width: $tabletBreakpoint + px) {
    @content
  }
};

@mixin minMediaDesktop {
  @media (min-width: $desktopBreakpoint + px) {
    @content
  }
};

@mixin minMediaMaxDesktop {
  @media (min-width: $wideDesktopBreakpoint + px) {
    @content
  }
};

@mixin htmlFZ ($mobile:320, $tablet: 768, $desktop: 1024,$maxDesktop: 1920) {
    font-size: calc(100vw / $mobile * 10);
    @include minMediaTablet {
      font-size: calc(100vw / $tablet * 10);
    }
    @include minMediaDesktop {
      font-size: calc(100vw / $desktop * 10);
    }
    @include minMediaMaxDesktop {
      font-size: 10px;
    }
}

@mixin dote {
  & {
    appearance: none;
    width: .8rem;
    height: .8rem;
    background: $bgBlue;
    border-radius: 50%;
    pointer-events: auto;
    cursor: pointer;
    z-index: 1;
  }
}
