// ----------FONTS
$primaryFont: 'Roboto', sans-serif;
$fInter: 'Inter', sans-serif;
$fPoppins: 'Poppins', sans-serif;

// ----------BREAKPOINTS
$mobileBreakpoint: 360;
$tabletBreakpoint: 768;
$desktopBreakpoint: 1024;
$wideDesktopBreakpoint: 1920;

$mediaTablet: '(min-width: #{ $tabletBreakpoint })';
$mediaDesktop: '(min-width: #{ $desktopBreakpoint })';
$mediaWideDesktop: '(min-width: #{ $wideDesktopBreakpoint })';

// ----------COLORS
$cWhite: #ffffff;
$cLightGrey: #EEEEEE;
$cGrey: #ACAFB8;
// ----------SIZES
$headerHeight: 6.8rem;
$footerHeight: 2.5rem;
