// ----------FONTS
$fInter: 'Inter', sans-serif;
$fPoppins: 'Poppins', sans-serif;

// ----------BREAKPOINTS
$mobileBreakpoint: 320;
$tabletBreakpoint: 768;
$desktopBreakpoint: 1024;
$wideDesktopBreakpoint: 1920;

$mediaTablet: '(min-width: #{ $tabletBreakpoint })';
$mediaDesktop: '(min-width: #{ $desktopBreakpoint })';
$mediaWideDesktop: '(min-width: #{ $wideDesktopBreakpoint })';

// ----------COLORS
$cWhite: #EEEEEE;
$cGrey: #ACAFB8;
$cDarkGrey: #4C526A;

// ----------SIZES
$headerHeight: 6.9rem;
$footerHeight: 2.5rem;

//-------------BACKGROUNDS
$bLightGrey: $cWhite;
