// ----------FONTS
$fInter: 'Inter', sans-serif;
$fPoppins: 'Poppins', sans-serif;

// ----------BREAKPOINTS
$mobileBreakpoint: 320;
$tabletBreakpoint: 768;
$desktopBreakpoint: 1024;
$wideDesktopBreakpoint: 1244;

// ----------COLORS
$primaryColor: #EEEEEE;
$secondaryColor: #020D37;
$cWhite: #ffffff;
$cLightGreyBlue: #4C526A;
$cGrey: #ACAFB8;
$cBlue: #0432DF;
$cLightBlue: #1B4BFF;
$cGold: #F59E00;
$cError: #FF0000;

// ----------SIZES
$headerHeight: 6.9rem;
$headerDesktopHeight: 8.4rem;
$footerHeight: 2.5rem;

//-------------BACKGROUNDS
$bgPrimary: $primaryColor;
$bgGray: $cGrey;
$bgPlay: #CDD6F9;
$bgLightBlue: $cLightBlue;
$bgBlue: $cBlue;
$bgHoverBlue: #0029C2;
$bgDarkBlue: $secondaryColor;
$bgWhite: $cWhite;
$bgHeaderColor: #040B26;

//-------------border colors
$bWhite: $cWhite;
$bPureWhite: $primaryColor;
$bLightBlue: $bgPlay;
$bPrimarySvg: $cLightGreyBlue;
$bBlue: $cBlue;
