extends constants
block content
    form.filter-modal.j-filter-modal(action='')
        .filter-modal__container
            button.filter-modal__close-btn.j-filter-close(type='button')
                +useSvg('ico-login-close', '.filter-modal__close-svg')
            h4.filter-modal__title Filter
            .filter-modal__time-slider
                +sliderInput('Duration', 0, 550, 'duration')
            .filter-modal__select-categories
                +castomSelect(optionsFilter, false, 'categories')
            .filter-modal__checkboxes.filter-modal-checkboxes
                .filter-modal-checkboxes__item
                    +checkboxInput('onlyFree', 'Only free sounds', true, 2)
                .filter-modal-checkboxes__item
                    +checkboxInput('myFavorite', 'Only my favorite sounds', true, 2)
            +button('Apply','filter-modal__apply','submit')
