-
    const youtuberIcons = [
        '/src/images/icons/youtubers/dudeperfect.svg',
        '/src/images/icons/youtubers/Pewdiepie-logo.svg',
        '/src/images/icons/youtubers/MrBeast.svg',
        '/src/images/icons/youtubers/wb.svg',
        '/src/images/icons/youtubers/netflix.svg',
        '/src/images/icons/youtubers/pixar.svg',
        '/src/images/icons/youtubers/pickyPicks.svg',
    ]
block content
