-
    const youtuberIcons = [
        {
            src: '/src/images/icons/youtubers/dudeperfect.svg',
            icoClass: 'ico-dudeperfect',
        },
        {
            src: '/src/images/icons/youtubers/pewdiepieLogo.svg',
            icoClass: 'ico-pewdiepie-logo',
        },
        {
            src: '/src/images/icons/youtubers/mrBeast.svg',
            icoClass: 'ico-mr-beast',
        },
        {
            src: '/src/images/icons/youtubers/wb.svg',
            icoClass: 'ico-wb',
        },
        {
            src: '/src/images/icons/youtubers/netflix.svg',
            icoClass: 'ico-netflix',
        },
        {
            src: '/src/images/icons/youtubers/pixar.svg',
            icoClass: 'ico-pixar',
        },
        {
            src: '/src/images/icons/youtubers/pickyPicks.svg',
            icoClass: 'ico-picky-picks',
        },
    ]
block content
