.trusted {
  color: $secondaryColor;

  &__container {
    padding: 3rem 1.76rem 4rem;
  }

  &__img {
    object-fit: contain;
  }

  &__title {
    font-family: $fInter;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 172%;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: -0.09rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.26rem;
    align-items: center;
    row-gap: 3rem;
    justify-content: space-between;
  }

  &__item {
    display: flex;
  }

  @include minMediaTablet {
    &__title {
      font-family: $fPoppins;
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 3.4rem;
      letter-spacing: -.05rem
    }
    &__container {
      padding: 4rem 6.763rem 4rem;
      max-width: 124.4rem;
      margin: 0 auto;
    }
  }

  @include minMediaDesktop {
    &__container {
      padding: 5.1rem 10.4rem 6rem;
    }
  }
}

.ico-dudeperfect {
  width: 4.1rem;
  height: 4.1rem;
}

.ico-mr-beast {
  width: 6.4rem;
  height: 4.5rem;
}

.ico-netflix {
  width: 8rem;
  height: 2.3rem;
}

.ico-pewdiepie-logo {
  width: 4.1rem;
  height: 4.1rem;
}

.ico-picky-picks {
  width: 4rem;
  height: 4.1rem;
}

.ico-pixar {
  width: 9rem;
  height: 1.9rem;
}

.ico-wb {
  width: 4.1rem;
  height: 5rem;
}

@include minMediaDesktop {

  .ico-dudeperfect {
    width: 5rem;
    height: 5rem;
  }

  .ico-mr-beast {
    width: 7.7rem;
    height: 5.4rem;
  }

  .ico-netflix {
    width: 9.4rem;
    height: 2.5rem;
  }

  .ico-pewdiepie-logo {
    width: 5rem;
    height: 5rem;
  }

  .ico-picky-picks {
    width: 5.02rem;
    height: 5.02rem;
  }

  .ico-pixar {
    width: 13rem;
    height: 2.492rem;
  }

  .ico-wb {
    width: 5rem;
    height: 6.2rem;
  }
}
