.trusted {
  color: $secondaryColor;

  &__container {
    padding: 3rem 1.76rem 4rem;
  }

  &__title {
    font-family: $fInter;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 172%;
    text-align: center;
    margin-bottom: 3rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.26rem;
    align-items: center;
    row-gap: 3rem;
    justify-content: space-between;
  }

  &__item {
    display: flex;
  }

  @include minMediaTablet {
    &__title {
      font-family: $fPoppins;
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 3.4rem;
    }
    &__container {
      padding: 4rem 6.763rem 4rem;
    }
  }
}

.ico-dudeperfect {
  width: 4.1rem;
  height: 4.1rem;
}

.ico-mr-beast {
  width: 6.4rem;
  height: 4.5rem;
}

.ico-netflix {
  width: 8rem;
  height: 2.3rem;
}

.ico-pewdiepie-logo {
  width: 4.1rem;
  height: 4.1rem;
}

.ico-picky-picks {
  width: 4rem;
  height: 4.1rem;
}

.ico-pixar {
  width: 9rem;
  height: 1.9rem;
}

.ico-wb {
  width: 4.1rem;
  height: 5rem;
}
