extends constants
block content
    .trusted
        .trusted__container
            h2.trusted__title Trusted by top Youtuber and Production House
            ul.trusted__list
                each src in youtuberIcons
                    li.trusted__item
                        img.trusted__img(src=src)
