mixin tariffCard(title, description, cost )
    .tariff-card._active
        h3.tariff-card__title=title
        p.tariff-card__description=description
        p.tariff-card__cost=cost
        a.tariff-card__start-btn Get started
