mixin tariffCard(title, description, cost, isWhite)
    .tariff-card._active(class=isWhite && 'tariff-card--white')
        h3.tariff-card__title=title
        p.tariff-card__description=description
        p.tariff-card__cost=cost
        if isWhite
            +buttonBorder('Get started','tariff-card__start-btn', 'button', true)
        else
            +button('Get started','tariff-card__start-btn', 'button', true)
