mixin tariffCard(title, description, cost )
    .tarif-card
        h3.tarif-card__title=title
        p.tarif-card__description=description
        p.tarif-card__cost=cost
        a.tarif-card__start-btn
