@import "../../../../styles/variables";

.burger {
  position: relative;
  width: 2.4rem;
  height: 1.6rem;
  display: flex;
  align-items: center;


  &:after {
    position: absolute;
    left: 0;
    top: 0;
  }

  &:before {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &:after, &:before {
    content: '';
    transition: transform .3s ease;
  }

  div, &:after, &:before {
    height: .24rem;
    border-radius: .3rem;
    background: $bPrimary;
    width: 100%;

  }

  @include minMediaTablet {
    width: 3.1rem;
    margin-bottom: 0;

  }

  &._active {
    &:before {
      transform: translateY(-1.1rem) rotate(135deg);
      bottom: -.3rem;
    }

    &:after {
      transform: translateY(.6rem) rotate(-135deg);
    }

    div {
      transform: scale(0)
    }
  }
  @include minMediaTablet{
    &._active {
      &:before {
        bottom: .2rem;
      }
    }
    height: 2rem;
  }
}
