@import "../../../../styles/variables";

.burger {
  position: relative;
  width: 3rem;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: .512rem;

  &:after {
    position: absolute;
    left: 0;
    top: 0;
  }

  &:before {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &:after, &:before {
    content: '';
    transition: transform .3s ease;
  }

  div, &:after, &:before {
    height: .24rem;
    border-radius: .3rem;
    background: $bLightGrey;
    width: 100%;

  }

  @include minMediaTablet {
    width: 3.1rem;
    margin-bottom: 0;

  }

  &._active {
    &:before {
      transform: translateY(-1.1rem) rotate(135deg);
    }

    &:after {
      transform: translateY(.6rem) rotate(-135deg);
    }

    div {
      transform: scale(0)
    }
  }
}
