extends  ../../layout/layout
include ../../components/index
block variables
  -
      let title = 'Welcome to Start Template'
      const menuItems = [
          {
              label: 'Home',
              href: '#',
              isActive: true,
          },
          {
              label: 'Best for Youtube',
              href: '#',
              isActive: false,
          },
          {
              label: 'Category',
              href: '#',
              isActive: false,
          },
          {
              label: 'Upgrade',
              href: '#',
              isActive: false,
          },
          {
              label: 'FAQ',
              href: '#',
              isActive: false,
          },
      ]
block content
    .index
        .index__main-block
            include modules/mainBlock/mainBlock
        .index__trusted
            include modules/trusted/trusted
        .index__sounds-block
            include modules/soundsBlock/soundsBlock
        .index__sounds-block
            include modules/category/category
        .index__about
            include modules/about/about
        .index__tariff
            include modules/tariff/tariff
        .index__testimonialsCards
            include modules/testimonials/testimonials

