extends  ../../layout/layout
include ../../components/index
block variables
  -
      let title = 'Welcome to Start Template'
      const menuItems = [
          {
              label: 'Home',
              href: '#',
              isActive: true,
          },
          {
              label: 'Best for Youtube',
              href: '#',
              isActive: false,
          },
          {
              label: 'Category',
              href: '#',
              isActive: false,
          },
          {
              label: 'Upgrade',
              href: '#',
              isActive: false,
          },
          {
              label: 'FAQ',
              href: '#',
              isActive: false,
          },
      ]
block content
    .index
        include modules/mainBlock/mainBlock
        include modules/trusted/trusted
        include modules/soundsBlock/soundsBlock
        include modules/category/category
        include modules/about/about
        include modules/tariff/tariff
        include modules/testimonials/testimonials

