.sound-tab {
  display: inline-block;
  color: $cLightGreyBlue;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 138%;
  transition: color .15s linear;
  letter-spacing: -0.05rem;
  position: relative;
  @media (hover: hover) {

    &:hover {
      color: $bgHoverBlue;

      &:after {
        opacity: .1;
        background-color: $bgHoverBlue;
      }
    }
  }

  &:after {
    content: '';
    height: .2rem;
    background: $secondaryColor;
    border-radius: .1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -.2rem;
    opacity: 0;
    transition: opacity .15s linear;
  }

  &._active {
    //color: $secondaryColor;
    @media (hover: hover) {

      &:hover {
        color: $bgHoverBlue;
      }

    }

    &:after {
      transition: opacity .15s linear, color .15s linear;
      opacity: 1;
    }

  }

  @include minMediaDesktop {
    font-size: 1.6rem;
    line-height: 138%;
  }
}
