include components/search/search

section.main-block
    .main-block__container.container
        h1.main-block__title Free download sound&nbsp;effects without copyright
        p.main-block__description Download free copyright sound effect for your YouTube video and any use.
        .main-block__search
            +search('Try keyword: happy, funny, natural, horror, jumpscare and more')
        p.main-block__info 650.654 Available Sounds. Library Updated Weekly.&nbsp;
            a.main-block__link-see(href='#') See popular sounds
