.main-block
    .main-block__container.container
        h1.main-block__title Free download sound effects without copyright
        p.main-block__description Download free copyright sound effect for your YouTube video and any use.
        .main-block__
