@import "components/search/style";

.main-block {
  margin-top: -$headerHeight;
  background-image: url('/src/images/mainBlock/mainBlockBG.webp');
  color: $primaryColor;
  padding-top: 12.5rem;
  padding-bottom: 9.8rem;

  &__title {
    color: $primaryColor;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    font-weight: 600;
    font-family: $fPoppins;
    padding-bottom: 1.6rem;
  }

  &__description {
    color: $cGrey;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 138%;
    padding: 0 .15rem 5rem .15rem;
  }

  &__search {
    padding-bottom: 5rem;
  }

  &__info {
    font-family: $fInter;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 172%;
    text-align: center;
    padding: 0 1.1rem 0;
  }

  &__link-see {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -.1rem;
      width: 100%;
      border-bottom: .1rem solid $primaryColor;
    }
  }
}
