@import "components/searchInput/style";
.main-block {
  margin-top: -$headerHeight;
  background-image: url('/src/images/mainBlock/mainBlockBG.webp');
  color: $cWhite;
  padding-top: 12.5rem;
  padding-bottom: 9.9rem;

  &__title {
    color: $cLightGrey;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    font-weight: 600;
    font-family: $fPoppins;

  }

  &__description {
    color: $cGrey;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 138%;
    font-family: $fInter;
  }
}
