-
    const testimonialsCards = [
        {
            text: 'WavesCo was a great choice for our team for film production, the quality is amazingly great.',
            src: '/src/images/testimonials/avatars/avatar1.jpg',
            name: 'Edward Sann',
            job:'Head of Video editor at Netflix',
        },
        {
            text: 'The sounds from WavesCo is great and it really helps our team to save time and production costs.',
            src: '/src/images/testimonials/avatars/avatar1.jpg',
            name: 'Anne Joyce',
            job:'Video editor at Dude Perfect',
        },
        {
            text: 'Perfect way to get best quality sound effects for youtube videos. Thanks to WavesCo team.',
            src: '/src/images/testimonials/avatars/avatar1.jpg',
            name: 'Ronn D.',
            job:'Video Editor at PewDiePie',
        },
    ]
block content
