extends constants
include components/testimonialsItem/testimonialsItem
include ../../../../components/pagination/pagination
block content
    .testimonials
        .testimonials__container
            .testimonials__header
                .testimonials__sup-title TESTIMONIALS
                .testimonials__title Hear good experiences from our customers
            .testimonials__list.j-swiper
                ul.testimonials__wrapper.swiper-wrapper
                    each item in testimonialsCards
                        li.testimonials__item.swiper-slide
                            +testimonialsItem(item.text,item.name,item.job,item.src)
            .testimonials__pagination
                +pagination('j-pagination-testimonials')
