.testimonials
    .testimonials__container
        .testimonials__sup-title
        .testimonials__title
        .testimonials__list
            ul.testimonials__wrapper
                li.testimonials__item
