mixin search(text)
    form.search(action='' novalidate)
        .search__body
            button.search__btn(type='submit')
            input.search__input(type='text' placeholder='Search sound effects')
        p.search__footer=text

