.search {
  &__body {
    padding: 0.9rem 1.4rem 1rem;
    background: $bLightGrey;
    border-radius: .8rem;
    display: flex;
    margin-bottom: 1.4rem;
  }

  &__input {
    font-family: inherit;
    background: none;
    color: $cDarkGrey;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
    width: 100%;
    padding-left: 1.2rem;
  }

  &__btn,&__svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  &__footer {
    font-family: $fInter;

    font-weight: 400;
    font-size: 14px;
    line-height: 172%;
  }
}
