.search {
  &__body {
    padding: 0.9rem 1.4rem 1rem;
    background: $bPrimary;
    border-radius: .8rem;
    display: flex;
    margin-bottom: 1.4rem;
  }

  &__input {
    font-family: inherit;
    background: none;
    color: $cLightGreyBlue;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
    width: 100%;
    padding-left: 1.2rem;
  }

  &__btn, &__svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  &__footer {
    font-family: $fInter;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 172%;
  }

  @include minMediaTablet {
    &__body {
      padding: 2rem 1.9rem 1.6rem;
      margin-bottom: 1rem;
    }
  }
  @include minMediaDesktop{
    &__body {
      padding-bottom: 1.5rem;
    }
    &__footer {

    }
  }
}
