include components/filterButton/filterButton
.sounds-filter.j-filter
    .sounds-filter__button
        +filterButton('Filter')
    .sounds-filter__modal
        include components/filterModal/filterModal
