extends constants
include components/soundItem/soundItem

block content
    section.sounds-block.j-sounds-list
        .sounds-block__container
            h2.sounds-block__title Best sound effects for youtube videos
            .sounds-block__header
                .sounds-block__tabs
                    include modules/soundsTabs/soundsTabs
                .sounds-block__filter
                    include modules/soundsFilter/soundsFilter
            ul.sounds-block__list.j-sound-list
                each item in sounds
                  li.sounds-block__item
                      +soundItem(item.src, item.genres, item.description)
            .sounds-block__link
                +link('See all sound effects')
