@import "modules/index";
@import "components/index";

.sounds-block {
  padding: 5rem 0;
  color: $secondaryColor;

  &__container {
    padding: 0 1.6rem;
  }

  &__title {
    font-family: $fPoppins;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1.7rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.7rem;
  }

  &__tabs {
    margin-left: .9rem;
  }



  &__list {
    margin-bottom: 1.9rem;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 0.3rem;
    }
  }
}
