extends constants
include components/categoryCard/categoryCard
include ../../../../components/link/link
block content
    section.category
        .category__container
            h2.category__title Browse by category
            ul.category__list
              each item in categoryCard
                  li.category__item
                      +categoryCard(item.label, item.src)
            .category__link
                +link('See all category')
