extends constants
include components/categoryCard/categoryCard
block content
    .category
        .category__container
            .category__title Browse by category
            ul.category__list
                each item in categoryCard
                    li.category__item
                        +categoryCard(item.label, item.src)
