-
  const categoryCard =[
    {
      label:'Musical',
      src:'/src/images/category/musical.webp',
    },
    {
      label:'Industrial',
      src:'/src/images/category/industrial.webp',
    },
    {
      label:'Movie sounds',
      src:'/src/images/category/movieSounds.webp',
    },
    {
      label:'Animal',
      src:'/src/images/category/animal.webp',
    },
    {
      label:'Vehicles',
      src:'/src/images/category/vehicles.webp',
    },
    {
      label:'Sound designs',
      src:'/src/images/category/soundDesigns.webp',
    },
    {
      label:'People',
      src:'/src/images/category/people.webp',
    },
    {
      label:'Emergency',
      src:'/src/images/category/emergency.webp',
    },
    {
      label:'Cartoon',
      src:'/src/images/category/cartoon.webp',
    },
    {
      label:'Horror',
      src:'/src/images/category/horror.webp',
    },
    {
      label:'Bell',
      src:'/src/images/category/bell.webp',
    },
    {
      label:'Nature',
      src:'/src/images/category/nature.webp',
    },
  ]
block content
