-
  const categoryCard =[
    {
      label:'Musical',
      src:'/src/images/category/Musical.webp',
    },
    {
      label:'Industrial',
      src:'/src/images/category/Industrial.webp',
    },
    {
      label:'Movie sounds',
      src:'/src/images/category/Movie sounds.webp',
    },
    {
      label:'Animal',
      src:'/src/images/category/Animal.webp',
    },
    {
      label:'Vehicles',
      src:'/src/images/category/Vehicles.webp',
    },
    {
      label:'Sound designs',
      src:'/src/images/category/Sound designs.webp',
    },
    {
      label:'People',
      src:'/src/images/category/People.webp',
    },
    {
      label:'Emergency',
      src:'/src/images/category/Emergency.webp',
    },
    {
      label:'Cartoon',
      src:'/src/images/category/Cartoon.webp',
    },
    {
      label:'Horror',
      src:'/src/images/category/Horror.webp',
    },
    {
      label:'Bell',
      src:'/src/images/category/Bell.webp',
    },
    {
      label:'Nature',
      src:'/src/images/category/Nature.webp',
    },
  ]
block content
