@import "components/index";

.category {
  padding: 2.9rem 0 4rem;

  &__container {
    padding: 0 1.6rem;
  }

  &__title {
    font-family: $fPoppins;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: $secondaryColor;
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.8rem;
    justify-content: space-between;
  }

  @include minMediaTablet {
    padding-top: 3.9rem;
    &__container {
      padding: 0 6rem;
    }
    &__title {
      font-size: 2.4rem;
      line-height: 160%;
    }
    &__list{
      row-gap:  1.2rem;
    }
  }
}
