include ../../components/button/button
mixin header (nav)
    include modules/menu/menu
    include components/logo/logo
    header.header
        .header__container.j-mobile-container
            a.header__logo(href="/")
                +logo()
            .header__panel.j-mobile-menu
                nav.header__nav
                    +menu(nav)
                +button('Login', 'header__login-btn', 'button')
            .header__burger
                include components/burger/burder
