mixin header (nav)
    include modules/menu/menu
    header.header
        .header__container.container
            a.header__logo(href="/")
                include components/logo/logo
            nav.header__nav
                +menu(nav)
            .header__burger
                include components/burger/burder
