mixin header (nav)
    include modules/menu/menu
    include components/logo/logo
    header.header
        .header__container
            a.header__logo(href="/")
                +logo()
            .header__panel
                nav.header__nav
                    +menu(nav)
                button.header__login-btn(type='button') Login
            .header__burger
                include components/burger/burder
