mixin header (nav)
    include modules/menu/menu
    include components/logo/logo
    header.header
        .header__container
            a.header__logo(href="/")
                +logo()
            nav.header__nav
                +menu(nav)
            .header__burger
                include components/burger/burder
