@import "modules/index";
@import "components/index";

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  border-bottom: .1rem solid rgba(255, 255, 255, 0.1);
  height: $headerHeight;
  background: $bgHeaderColor;
  z-index: 10;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 1.619rem;
    padding-right: 2.8rem;
  }

  &__nav {
    display: none;
  }

  &__logo {
    line-height: 0;
  }
  @include minMediaTablet{
    &__container{
      padding-left: 6.019rem;
      padding-right: 6.9rem;
    }
  }
}
