-
  const footerList = [
      {
       title: 'Product',
          links: [
           {
               label:'Browse sounds'
           },
           {
               label:'Pricing'
           },
           {
               label:'FAQ'
           },
           {
               label:'Affiliate'
           },
       ]
      },
      {
       title: 'Company',
          links: [
           {
               label:'Blog'
           },
           {
               label:'About us'
           },
           {
               label:'Help'
           },
           {
               label:'Career'
           },
       ]
      },
      {
       title: 'Social Media',
          links: [
           {
               label:'Twitter'
           },
           {
               label:'Instagram'
           },
           {
               label:'YouTube'
           },
           {
               label:'Facebook'
           },
       ]
      },
  ]
block content
