@import "components/index";

.footer {
  background: $bgDarkBlue;
  padding: 5rem 0 4.1rem;

  &__container {
    padding: 0 4.5rem 0 1.6rem;
  }

  &__logo {
    width: 14.2rem;
    height: 2.1rem;
    margin-bottom: 2.5rem;
  }

  &__description, &__copy {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 172%;
    color: $cGrey;
    letter-spacing: -.05rem;
  }

  &__description {
    margin-right: -0.6rem;
    margin-bottom: 1.6rem;
  }

  &__info {
    margin-bottom: 3.4rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.6rem;
    column-gap: 3.7rem;
  }

  &__item {
    flex: 1 1 auto;
  }

  @include minMediaTablet {
    padding: 4rem 0 3rem;
    &__container {
      padding: 0 6rem 0 6rem;
    }
    &__info {
      max-width: 26.5rem;
      margin-bottom: 4.1rem;
    }
    &__description {
      margin-bottom: 1.9rem;
    }
    &__list {
      column-gap: 14.7rem;
    }
  }
  @include minMediaDesktop {
    padding: 5rem 0 4.2rem;
    &__container {
      display: flex;
      column-gap: 15.2rem;
      padding: 0 10rem 0 10rem;
    }
    &__description {
      font-size: 1.6rem;
      line-height: 180%;
      margin-bottom: 2.9rem;
      letter-spacing: -0.08rem;
    }
    &__logo {
      width: 17rem;
      height: 2.55rem;
      margin-bottom: 2.6rem;
    }
    &__info {
      max-width: 29.8rem;
      margin-bottom: 0;
    }
    &__nav {
      flex-grow: 1;
    }
    &__list {
      justify-content: space-between;
      column-gap: 10rem;
    }
    &__item {
      margin-right: 0.3rem;
      flex-grow: 0;
    }
    &__copy{
      letter-spacing: 0.018rem;
    }
  }
}
