.category-card {
  position: relative;
  width: 13.9rem;
  height: 7rem;
  overflow: hidden;
  border-radius: .8rem;

  &__img, &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  &__link{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 100%;
    color: $primaryColor;
    transition: background-color .15s linear;
    &:hover{
      text-decoration: underline;
      background-color: transparentize($bgBlue, .75);
    }
  }

  @include minMediaTablet {
    width: 15rem;
    height: 9rem;
    &__text {
      font-size: 1.8rem;
      padding-top: 0.9rem;
    }
  }
  @include minMediaDesktop {
    width: 15.7rem;
    height: 11.7rem;
    &__text {
      padding-top: 0;
    }
  }
}
