.menu {
  color: $primaryColor;

  &__item {
    color: transparentize($cWhite, 0.4);
    transition: color .15s linear;
    margin-bottom: 1.6rem;

    &._active {
      color: $cWhite;
    }
  }

  &__link {
    font-family: $fPoppins;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: -.05rem;
  }

  @include minMediaDesktop {
    display: flex;
    column-gap: 4rem;
    &__item {
      margin-bottom: 0;

      &:hover {
        color: $cWhite;
      }
    }
  }
}
