.login
    form.login__container
        h3.login__title Login
        .login__social
        p.login__explanation or use your email
        .login__email
        .login__password
        .login__remember
        .login__btn
        .login__sing-up
        .login__forgot
