.login.j-login-form
    form.login__container(novalidate)
        button.login__close-btn.j-login-form-btn-close(type='button')
            +useSvg('ico-login-close')
        h3.login__title Login
        .login__social.login-social
            a.login-social__link(href='#')
                +useSvg('ico-google')
            a.login-social__link(href='#')
                +useSvg('ico-facebooke')
            a.login-social__link(href='#')
                +useSvg('ico-twitter')
        .login__explanation
            span or use your email
        .login__email
            +textInput('email', 'Email', 'email', true)
        .login__password
            +textInput('password', 'Password', 'password', true)
        .login__remember
            +checkboxInput('isRemember', 'Remember Me')
        +button('Login', 'login__btn', 'submit')
        .login__sing-up
            a(href='#') or Sing Up
        .login__forgot
            a(href='#') Forgot password?
